<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/new.css">
    <title>Mini Instagram</title>
</head>
<body>
    <h2>Add new post</h2> 
    
    <div class="post-info">
    <h3>@<%=post.username%></h3>
    <h4><%=post.content%></h4>
  </div>
   
   
   <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
    <div class="formdiv">
        <input type="text" name="url" placeholder="Enter url">
        <button id="submitbtn">Submit</button>
    </div>
    
   </form>
   
</body>
</html>