<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Mini Instagram</title>
</head>
<body>
    <h1>MINI INSTAGRAM</h1>
    <a href="http://localhost:8080/posts/new" class="create-btn">Create new post</a>
    <% for (post of posts){  %>
        <div class="cont">
            <h3>@<%=post.username%></h3>
            <h4><%=post.content%></h4>
        <a href="http://localhost:8080/posts/<%=post.id%>" class="action-btn" target="_blank">View</a>
        
    <form method="post" action="/posts/<%=post._id%>?_method=DELETE">
        <button id="formbtn">Delete</button>
    </form>    
    </div>
        
    <% } %>
</body>
</html>